<h1>Add your partner</h1>
<div class="main-content">Let's get your partner in on this so you can come up with goals together!

<p><br />
<%= form_for @invite do |f| %>
	<%= f.hidden_field :family_id, value: @invite.family_id %>
	
	<div class="centered">
		<div class="question">
			<%= f.text_field :first_name, placeholder:"Partner's first name" %>
		</div>

		<div class="question">
			
			<%= f.email_field :email, placeholder: "Partner's email" %>
		</div>
	<%= f.submit "Add", class:'next-button' %>
	</div>
	<div class="centered">
		<div class="skip-link">
			<%= link_to "Skip for now", root_path %>
		</div>
	</div>
<% end %>
</p>
</div>