

<% if current_user %>

	<% if (@family_members < 2 && current_user.sent_invites.empty?) %>
		<div class="top-banner">
			<%= link_to "Invite your partner \u{2192}", new_invite_path, :class => 'banner-link' %>
		</div>
	<% end %>

	<h1>Savings Goals for you and <%= @partner_name %> </h1>
	<% if @family_goals != nil %>
		<% @family_goals.each do |goal| %>
			<% if @trip.present? %>
				<div class="dashboard-trip-goal-row">
					<%= link_to summary_trip_path(@trip) do %>		
					<div class="dashboard-goal-image-col">	
						<%= image_tag(@images[rand(@images.size)].link, 
						class: "dashboard-goal-image") %>
					</div>
					<div class="dashboard-goal-info-col">
						<div class="dashboard-goal-name">
						Trip to <%= @trip.place %> <br />
						<span style="font-size:13px"><%= @trip.date.strftime("%B %Y") %></span>
						</div>
					</div>
					<div class="dashboard-goal-amount">
						$<%= @tripcost %>
					</div>
					<% end %>
				</div>
			<% elsif goal.houses.present? %>
				<!-- <h2><%= link_to goal.trips.first.place, house_path(goal.houses.first) %></h2> -->
			<% end %>
		<% end %>
	<% end %>

	<div class="centered">
		<%= link_to "Setup a savings goal", goals_selection_path %>
	</div>

	<div class="centered">
		<%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out-link" %>
	</div>
<% else %>
	<div class="splash-page">
	<h1>Welcome to Savvy</h1>
		<div class="centered">
			<p>
				<%= link_to "Sign up", new_user_registration_path %> 
			</p>
			<p>
				<%= link_to "Sign in", new_user_session_path %>
			</p>
		</div>
	</div>
<% end %>