<h1>Welcome to Savvy</h1>

<% if current_user %>
	<% if @family_members < 2 %>
		<div class="top-banner">
			<%= link_to "Invite your partner!", new_invite_path %>
		</div>
	<% end %>

	<% if @family_goals != nil %>
		<% @family_goals.each do |goal| %>
			<% if @trip.present? %>
				<div class="dashboard-trip-goal-row">
					<%= link_to summary_trip_path(@trip) do %>		
					<div class="dashboard-goal-image-col">	
						<%= image_tag(@images[rand(@images.size)].link, class: "dashboard-goal-image") %>
					</div>
					<div class="dashboard-goal-info-col">
						<div class="dashboard-goal-name">
						Trip to <%= @trip.place %> <br />
						<%= @trip.date.strftime("%B") %>
						</div>
					</div>
					<div class="dashboard-goal-amount">
						$<%= @tripcost %>
					</div>
					<% end %>
				</div>
			<% elsif goal.houses.present? %>
				<h2><%= link_to goal.trips.first.place, house_path(goal.houses.first) %></h2>
			<% end %>
		<% end %>
	<% end %>




	<%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out-link" %>
<% else %>
	<div class="centered">
	<p>
	<%= link_to "Sign up", new_user_registration_path %> 
	</p><p>
	<%= link_to "Sign in", new_user_session_path %>
	</p>
	</div>
<% end %>