<h1>Welcome to Savvy</h1>

<% if current_user %>
	<% if @family_members < 2 %>
		<%= link_to "Invite your partner!", new_invite_path %>
	<% end %>

	<% if @family_goals != nil %>
		<% @family_goals.each do |goal| %>
			<% if goal.trips.present? %>
				<h2><%= link_to goal.trips.first.place, summary_trip_path(goal.trips.first) %></h2>
			<% elsif goal.houses.present? %>
				<h2><%= link_to goal.trips.first.place, house_path(goal.houses.first) %></h2>
			<% end %>
		<% end %>
	<% end %>

	Set a new goal:
	<p><%= link_to "Plan for a trip", new_trip_path %></p>
	<p><%= link_to "Buy a house", new_house_path %></p>
	<p><%= link_to "Create an emergency fund", new_emergency_fund_path %></p>
	<p><%= link_to "Save for retirement", new_retirement_path %></p>
	<p><%= link_to "Save for your child's college", new_college_path %></p>


	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
	<div class="centered">
	<p>
	<%= link_to "Sign up", new_user_registration_path %> 
	</p><p>
	<%= link_to "Sign in", new_user_session_path %>
	</p>
	</div>
<% end %>