

<% if current_user %>

	<% if (@family_members < 2 && current_user.sent_invites.empty?) %>
		<div class="top-banner">
			<%= link_to "Invite your partner \u{2192}", new_invite_path, :class => 'banner-link' %>
		</div>
	<% end %>

	<h1>Savings Goals for you and <%= @partner_name %> </h1>
	<% if @family_goals != nil %>
		<% @family_goals.each do |goal| %>
			<% if @trip.present? %>
				<div class="dashboard-trip-goal-row">
					<%= link_to summary_trip_path(@trip) do %>		
						<div class="dashboard-goal-image-col">	
							<%= image_tag(@trip.image, 
							class: "dashboard-goal-image") %>
						</div>
						<div class="dashboard-goal-info-col">
							<div class="dashboard-goal-name">
							Trip to <%= @trip.place %> <br />
							$<%= @monthly_savings_goal %> / month <br />
							<span style="font-size:13px"><%= @trip.date.strftime("%B %Y") %></span>
							</div>
						</div>
						
					<% end %>
				</div>
			<% elsif goal.houses.present? %>
				<!-- <h2><%= link_to goal.trips.first.place, house_path(goal.houses.first) %></h2> -->
			<% end %>
		<% end %>

	<% end %>
	<div class="dashboard-trip-goal-row">
		<%= link_to goals_selection_path do %>
			<div class="dashboard-goal-image-col">
				<!--div style="font-size:48px;text-align:center;margin:auto;margin-top: 4px;">+
				</div-->
				<%= image_tag('new-goal-icon.png',
    							class: "dashboard-new-goal-image") %>
			</div>
			<div class="dashboard-new-goal-info-col">
				<div class="dashboard-goal-name">
					Setup a new savings goal
				</div>
			</div>
		<% end %>	
	</div>


	<div class="centered">
		<%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out-link" %>
	</div>

<% else %>
	<body class="splash-page-background">
	<div class="splash-page">
		<p class="app-name"><%= image_tag("savvy-logo.png", class:"app-name") %> </p>
		<p class="app-tagline"> The financial app for couples </p>
		<p><%= image_tag("hot-air-balloon.png", class:"splash-image") %></p>
			<div class="splash-button" style="width:40%; margin-top:10px">
				<%= link_to "Sign up", new_user_registration_path, style:"color:#fff" %> 
			</div>
			<div class="splash-button" style="width:40%; margin-top:10px">
				<%= link_to "Sign in", new_user_session_path, style:"color:#fff" %>
			</div>
		</div>
	</div>
	</body>
<% end %>