<body class="page-background">

	<div class="heading">
		 <%= link_to root_path do %>
			<div class="home-icon">
				<%= "\u{27F0}" %>
			</div> 
		<% end %>
		<div class="nav-title">
			Plan a trip
		</div>
	</div>

	<script type="text/javascript">
	
		$(function(){
			$("select").imagepicker()
		});
	</script>

	<div class="main-content">
		<p>
				<div class="image-title">
					Choose a picture for your trip
				</div>
		</p>

		<%= form_for @trip do |f| %>
			<div class="image-chooser">
				<%= f.select :image, @image_links.map { |i| [i, {'data-img-src' => i}] } %>

			</div>
			<div class="centered">
			<%= f.submit "Next", class: 'next-button' %>
			</div>
		<% end %>

	</div>

</body>

