<div class="container">
	<div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
			<%= image_tag(@images[0], class: "img-responsive") %>
	</div>
</div>
<h1><%= @trip.place %></h1>

<p>Trip Date: <%= @trip.date %></p>
<p>Duration (# of nights): <%= @trip.duration %></p>
<p>Estimated flight cost: <%= @trip.flight_cost %></p>
<p>Estimated hotel cost: <%= @trip.hotel_cost %></p>
<p>Estimated fun cost: <%= @trip.fun_cost %></p>
<p>Total estimated cost: <%= @total_cost %></p>

<h2>To Dos</h2>
<div class="new-to_do">
	<%= render partial: 'to_dos/form' %>
</div>
<div class="js-to_dos">
	<% @to_dos.each do |to_do| %>
		<%= render partial: 'to_dos/to_do', locals: { to_do: to_do } %>
	<% end %>
</div>

<h2>Comments</h2>
<div class="new-comment">
	<%= render partial: 'comments/form' %>
</div>
<div class="js-comments">
	<% @comments.each do |comment| %>
		<%= render partial: 'comments/comment', locals: { comment: comment } %>
	<% end %>
</div>