<body>

<div class="heading">
	 <%= link_to root_path do %>
		<div class="home-icon">
			<%= "\u{27F0}" %>
		</div> 
	<% end %>
	<div class="nav-title">
		Trip Summary
	</div>
</div>

<div class="image-container">
	
			<%= image_tag(@images[rand(@images.size)].link, class: "img-responsive") %>
	
</div>

<div class="centered main-content">

	<div class="section-header">TRIP TO <%= @trip.place.upcase %>
		<br /><%= @trip.date.strftime("%B").upcase %> 2017
		<br /><%= @trip.duration %>-day trip
	</div>


	<div class="section-header">ESTIMATED COSTS </div>
	<p class="big-cost">$<%= @total_cost %></p>

	<div class="row">
		<div class="left-column-2">Flights:</div>
		<div class="right-column-2">
			<%= link_to edit_trip_path do %>
				$<%= @trip.flight_cost %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="left-column-2">Hotels: </div>
		<div class="right-column-2">
			<%= link_to edit_trip_path do %>
				$<%= @trip.hotel_cost %>/night
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="left-column-2">Daily Fun: </div>
		<div class="right-column-2">
			<%= link_to edit_trip_path do %>
				$<%= @trip.fun_cost %>/day
			<% end %>
		</div>
	</div>
<hr class="hr-goals"/>
	<div class="section-header">TO-DOS </div>
	<% if @goal.to_dos.empty? %>
		<p class="section-instructions"> You can add to this later, but feel free to start jotting down tasks. </p> 
	<% end %>
	<div class="new-to_do">
		<%= render partial: 'to_dos/form' %>
	</div>
	<div class="js-to_dos">
		<% @to_dos.each do |to_do| %>
			<%= render partial: 'to_dos/to_do', locals: { to_do: to_do } %>
		<% end %>
	</div>

<hr class="hr-goals"/>
	<div class="section-header">CHAT </div>
	<% if @goal.comments.empty? %>
		<p class="section-instructions">You can use this area to chat with <%= @partner_name %> about plans and get pumped about your trip! </p>
	<% end %>

	
	<div class="js-comments">
		<% @comments.each do |comment| %>
			<%= render partial: 'comments/comment', locals: { comment: comment } %>
		<% end %>
	</div>

	<div class="new-comment">
		<%= render partial: 'comments/form' %>
	</div>

</div>
</body>