<h1>Goals#index</h1>
<p>Find me in app/views/goals/index.html.erb</p>

	Set a new goal:
	<p><%= link_to "Plan for a trip", new_trip_path %></p>
	<p><%= link_to "Buy a house", new_house_path %></p>
	<p><%= link_to "Create an emergency fund", new_emergency_fund_path %></p>
	<p><%= link_to "Save for retirement", new_retirement_path %></p>
	<p><%= link_to "Save for your child's college", new_college_path %></p>