<h1>Propose a new savings goal</h1>

	<%= link_to new_trip_path do %>
		<div class="goal-selection-row">
			<div class="goal-selection-title">
				Take a trip
			</div>
		</div>
	<% end %>

	<%= link_to new_house_path do %>
		<div class="goal-selection-row">
			<div class="goal-coming-soon">
				Coming Soon: Buy a house
			</div>
		</div>
	<% end %>

	<%= link_to new_emergency_fund_path do %>
		<div class="goal-selection-row">
			<div class="goal-coming-soon">
				Coming Soon: Build an emergency fund
			</div>
		</div>
	<% end %>

	<%= link_to new_retirement_path do %>
		<div class="goal-selection-row">
			<div class="goal-coming-soon">
				Coming Soon: Save for retirement
			</div>
		</div>
	<% end %>

	<%= link_to new_college_path do %>
		<div class="goal-selection-row">
			<div class="goal-coming-soon">
				Coming Soon: Save for child's college
			</div>
		</div>
	<% end %>